

*{
    margin: 0; padding: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: yellowgreen;
    padding: 20px;
    box-sizing: border-box;
}

.logo{
    display: flex;
    align-items: center;
}

.logo i{
    font-size: 20px;
    margin-right: 3px;
}

.logo h1{
    font-weight: normal;
    font-size: 20px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}

.nav li{
    margin: 0 20px;
}

.icons{
    display: flex;
    align-items: center;
}
.icons li{
    margin: 5px;
}

@media screen and (max-width:768px) {
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo{
        width: 100%;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .nav{
        flex-direction: column;
    }

    .nav li{
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
}