

*{
    margin: 0; padding: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
}

html{
}

body{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}
 section{
 }
 article{
     width: 600px;
 }
 .heading{
     text-align: center;
 }
 .heading p{
     color: crimson;
 }
 .heading h2{
     font-weight: normal;
 }
 .heading h2 em{
     font-style: normal;
 }

 /* content */
 .content{
     width: 100%;
     margin-top: 10px;
     overflow: hidden;
 }

 .accodian{
     width: 50%;
     float: left;
 }

 .accodian .title{
     border: 1px solid #ededed;
     padding: 3px;
     padding-left: 10px;
     font-size: 12px;
     position: relative;
    transition: 0.2s;
    margin-bottom: 7px;
    cursor: pointer;
    color: #777;
 }

 .accodian .title::after{
     content: '\f105';
     font-family: fontawesome;
     position: absolute;
     right: 10px;
     color: #999;
     transition: 0.2s;
 }

 .accodian .title:hover::after{
     color: #fff;
 }
 .accodian .title.active::after{
    transform: rotate(90deg);
    color: goldenrod;
 }

.accodian .title:hover,
.accodian .title.active{
    background-color: rgb(15, 15, 62);
    color: #fff;
}

 .accodian .desc{
     font-size: 12px;
     padding: 10px;
     color: #777;
 }

 .accodian .desc{
     display: none;
 }

 .accodian .desc.active{
     display: block;
 }

.imgae{
     float: right;
     width: 50%;
     text-align: center;
 }

 .imgae img{
     width: 270px;
 }