@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


*{
    margin: 0; padding: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
}

body{
    
}

.gallery{
    display: flex;
    height: 100vh;
}
.gallery li{
    flex: 1;
    background-image: url(/images/artistic-image-01.jpg);
    background-repeat: no-repeat;
    transition: 0.3s;
}
.gallery:hover li{
    flex: 1;
}
.gallery li:hover{
    flex: 3;
}
.content{}